.typewriter {
  font-weight: bold;
  color: white;
  position: relative;
  background-color: black;  
}
.typewriter::after {
  content: "|";
  color: white;
  font-weight: bolder;
  position: absolute;
  right: -5px;
  top: -1.5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
