.project_info {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
  flex: 2;
}
.project_info h2 {
  margin-block: 2px;
  max-width: fit-content;
}
.project_card {
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1rem;
  margin: 8px;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.inline_text {
  display: flex;
  align-items: center;
  gap: 4px;
}
.img_container {
  flex: 1;
}
