.project_info {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
  flex: 2;
}
.project_info h2 {
  margin-block: 2px;
  max-width: fit-content;
}
.project_card {
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1rem;
  margin: 8px;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-color: black;
  transition: 0.25s ease-in-out;
}
.project_card:hover {
  /* box-shadow:inset 0 0 12px 4px rgba(243, 241, 241, 0.5); */
  box-shadow: 2px 2px white, 2px 2px white, 3px 3px white, 3px 3px white,
      3px 3px white, 4px 4px white, 4px 4px white, 3.5px 3.5px white;
    transform: translateX(-5px) translateY(-5px);
}
.inline_text {
  display: flex;
  align-items: center;
  gap: 4px;
}
.img_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}

.img_container img {
  width: 100%;
  border-radius: 10px;
}

@media(max-width: 550px) {
  .img_container {
    display: none;
  }
}
