.particle_container {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bubble {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble span {
  position: relative;
  font-size: xx-large;
  /* font-weight: bold; */
  color: whitesmoke;
  margin: 0px 17px;
  text-shadow: 0 0 1px white, 0 0 2px gray;
  animation: animate linear infinite;
  animation-duration: calc(200s / var(--i));
}
.bubble span:nth-child(even) {
  text-shadow: 0 0 2px white, 0 0 3px gray;
}
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0.4) rotate(0deg);
  }
  100% {
    transform: translateY(-5vh) scale(0.6) rotate(720deg);
  }
}
