.particle_container {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bubble {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble span {
  position: relative;
  width: 1rem;
  height: 1rem;
  background: white;
  margin: 0px 13px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px white, 0 0 50px white,
    0 0 100px white;
  animation: animate 15s linear infinite;
  animation-duration: calc(150s / var(--i));
}
.bubble span:nth-child(even) {
  background: gray;
  box-shadow: 0 0 0 10px gray, 0 0 50px gray,
    0 0 100px gray;
}
@keyframes animate {
  0% {
    transform: translateY(0vh) scale(0);
  }
  100% {
    transform: translateY(100vh) scale(0.8);
  }
}
