.btn {
  padding: 7px 28px; /**padding b/w the button and text**/
  border: none;
  outline: none;
  color: white; /**color for the text**/
  background-color: black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent; /**color for the button**/
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn::before {
  content: "";
  background: linear-gradient(
    /**decide all transition colors**/ 15deg,
    #71C9CE,
    #0df9f5,
    #A6E3E9,
    #08D9D6,
    #A6E3E9,
    #08D9D6
    /* #EDCDBB,
    #E3B7A0,
    #7D5A50,
    #BF9270,
    #E5B299,
    #FCDEC0 */
  );
  position: absolute;
  top: -3px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(3px);

  animation: glowing 17s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: black; /**color for the text on clicking**/
  font-weight: bold;
}
