body {
  margin: 0;
  background-color: black;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.project {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.section_container {
  width: 80%;
  height: 75%;
  overflow-y: auto;
}