body {
    margin: 0;
    background-color: black;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    overflow-y: auto;
}

.about_container {
    width: 80%;
    height: 75%;
    overflow-y: auto;}

.nav_container {
    justify-self: flex-start;
    margin-top: 2rem;
}
.about_view {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
}
.about_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inline_text {
    display: flex;
    align-items: center;
    gap: 4px;
}