.main_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: transparent;
}
.main_container img {
    width: max-content;
    border-radius: 5%;
}
.text_container {
    color: white;
    font-weight: bolder;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4px;
}