.main_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  background-color: transparent;
}
.main_container img {
  width: max-content;
  border-radius: 5%;
}
.text_container {
  color: white;
  font-weight: bolder;
  font-size: large;
  margin-top: 4px;
}

.github_heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  border: 4px solid white;
  border-radius: 20px;
  padding: 1rem;
  width: 80%;
  transition: 0.4s ease-in-out;
}
.github_heading span {
  font-size: 3.5rem;
}
.github_heading p {
  font-size: x-large;
}
.project_container {
  width: 80%;
  height: 60%;
  overflow-y: auto;
  padding: 1rem;
}
.project_container::-webkit-scrollbar {
  display: none;
}
.github_heading:hover {
  transform: translateZ(50px);
  box-shadow: 0 0 20px 5px rgba(245, 244, 244, 0.35);
}

.contact_form {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 17px;
  outline: none;
  border: 1.5px solid gray;
  box-sizing: border-box;
}
.loading {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.blog_heading {
  color: white;
  font-size: 3rem;
  padding: 0;
  margin: 14px;
}
.blog_container {
  width: 90%;
  height: 75%;
  overflow-y: auto;
  display: inline-grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}
.blog_container::-webkit-scrollbar {
  display: none;
}
.blog_bg {
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("../src/assets/blog_bg.svg");
  z-index: 0;
}
