/* .blog_card {
  max-width: 20rem;
  height: auto;
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 8px 14px;
  position: relative;
  background-color: white;
}
.blog_card:hover {
  box-shadow: 0 0 20px 0px rgba(243, 241, 241, 0.5);
}
.blog_card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.blog_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  padding: 8px;
}
.blog_info p {
  margin: 0;
}
.blog_details {
  color: gray;
  padding: 6px;
} */

.container {
  width: 20rem;
  height: 20rem;
  perspective: 1000px;
  margin: 0.5rem;
}
.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg) rotateX(0deg) rotateZ(0deg);
}
.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d; /*treates this card as a 3d object*/
}
.frontView,
.backView {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 4px rgba(211, 205, 205, 0.25);
  position: absolute;
  backface-visibility: hidden;
}
.frontView {
  color: white;
  /* background-image: url(https://source.unsplash.com/random/350x500); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}
.frontView img {
  width: 100%;
  height: 65%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.text {
  display: flex;
  flex-direction: column;
  margin-inline: 15px;
  align-items: center;
}
.backView {
  background-color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.backView h4 {
  background-color: transparent;
  color: black;
  margin: 1rem 1.25rem;
}
