.nav_container {
  justify-self: flex-start;
  margin-top: 2rem;
}
.about_view {
  padding: 1.5rem;
  padding-left: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  width: 67%;
  color: white;
  background-color: black;
}
.about_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: black; */
}
.info_icons {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: transparent;
}
.inline_text {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 6px;
  width: max-content;
}
.drop_down {
  margin-top: 4px;
  position: relative;
}
.drop_down:hover ul{
  display: block;
}
.drop_down ul {
  display: none;
  width: max-content;
  z-index: 15;
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 0%;
  list-style: none;
  margin: 0;
  padding: 2px;
  background-color: whitesmoke;
  border-radius: 10px;
  max-height: 112px;
  overflow-x: auto;
  direction: rtl; /* move scrollbar to left side */
}
.drop_down ul li {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}
.drop_down ul li a {
  color: black;
  text-decoration: none;
  font-size: large;
  padding: 1.5px 7px;
  border-radius: 8px;
}
.drop_down ul li a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
