.nav_container {
    justify-self: flex-start;
    margin-top: 2rem;
}
.about_view {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
}
.about_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inline_text {
    display: flex;
    align-items: center;
    gap: 4px;
}