.nav_container {
  justify-self: flex-start;
  margin-top: 2rem;
}
.about_view {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white;
  background-color: black;
}
.about_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: black; */
}
.inline_text {
  display: flex;
  align-items: center;
  gap: 4px;
  width: max-content;
}
.drop_down {
  margin-top: 4px;
  position: relative;
}
.drop_down:hover ul{
  display: block;
}
.drop_down ul {
  display: none;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 0%;
  list-style: none;
  margin: 0;
  padding: 2px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.drop_down ul li {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}
.drop_down ul li a {
  color: black;
  text-decoration: none;
  font-size: large;
  padding: 1.5px 7px;
  border-radius: 8px;
}
.drop_down ul li a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
