.container{
  position: fixed;
  top: 4%;
  right: 4%;
}

.clock {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  /* background-color */
  background: black;
  border: 3px solid white;
  box-shadow: 0px 0px 30px rgba(0,0,0,10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(15deg * var(--i)));
  inset: 3.5px;
  text-align: center;
}

.clock span b{
  /* transform: rotate(calc(-15deg * var(--i))); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: inline-block;
  font-size: 10px;
  color: white;
}

.clock span:nth-child(9) b,
.clock span:nth-child(15) b,
.clock span:nth-child(21) b {
  transform: rotate(calc(-15deg * var(--i)));
}

.clock::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 2;
}

.hand {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hand i {
  position: absolute;
  border: 1px solid black;
  width: 2px;
  height: 50%;
  border-radius: 8px;
}